@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --red:#FF4F5B;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
}

body {
  background: url(../images/home-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 9rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 4rem;
    border-radius: 5rem;
    background:var(--red);
    color:#fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
}

.btn::before{
    content:'';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:#444;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition:.3s linear;
}

.btn:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.heading{
    font-size: 3rem;
    color:#666;
}

.heading span{
    color:var(--red);
}


header{
    width:100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2.5rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2.5rem;
      color:var(--red);
}

header .logo span{
    color:var(--red);
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin-left: 2.5rem;
}

header .navbar ul li a{
    color:#999;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--red);
    border-bottom: .2rem solid var(--red);
    padding:.7rem 0;
}

#menu{
    font-size: 3rem;
    color:#999;
    cursor: pointer;
    display: none;
}








.home {
  margin-top: 7rem;

  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 70rem;
  text-align: center;
  margin: 0 auto;
}

.home .content img {
  width: 80%;
}

.home .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 2;
  color: #aaa;
  padding: 2rem 0;
}

.home .swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.home .swiper-slide {
  width: 30rem;
  height: 50rem;
}


.home .swiper-slide img {
  display: block;
  width: 100%;
  height: 80%; 
  
}






.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  position: relative;
}


.about .image::before {
  top: 0;
  left: 0;
}

.about .image::after {
  bottom: 0;
  right: 0;
}

.about .image img {
  width: 100%;
  padding: 2rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content span {
  font-size: 2rem;
  color: #f00;
}

.about .content .title {
  font-size: 2rem;
  color: #fff;
  margin-top: .5rem;
}

.about .content p {
  
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.about .content .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .content .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.about .content .box-container .box h3 i {
  padding-right: 1.5rem;
  color: #f00;
}

.features .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
  gap: 0;
}



.about{
    
  background: url(../images/home-bg.jpg) fixed ;
  background-size: cover;
  background-position: center;
  color: #fff;
}


.container{
   max-width: 1000px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 25rem;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}
.container .products-container .product h2{
   padding:.5rem 0;
   font-size: 1.5rem;
   color:#fff;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.container .products-container .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:8rem;
   width: 80rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .stars  li {
   margin-bottom: 0.5rem;
   font-size: 1.2rem;
   
   left: 4rem; /* Adding some space between list items */
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}















































































































































/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:8rem; left:-120%;
        height: 100%;
        width:100%;
        background:#eee;
        border-top: .2rem solid rgba(0,0,0,.1);
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        text-align: center;
        width:100%;
        margin:1rem 0;
    }

    header .navbar ul li a{
        display: block;
        padding:1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover{
        padding:1rem;
        background:var(--red);
        color:#fff;
        border:none;
        border-radius: 5rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        left:0;
    }

    .home .content{
        text-align: center;
    }

    .prevent .row:last-child{
        flex-flow: column-reverse;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    section{
        padding:0 3%;
        padding-top: 9rem;
    }

}